/* default styles for mobile devices */
/* navigation menu for MOBILE */
/* class names for navigation menu for MOBILE */
.logo-container {
    display: block;
}

.nav-links {
    display: block;
    overflow: hidden;
}

.nav-links li {
    padding: 20px;
    display: block;
}

.nav-link {
    display: block;
}

.logout-btn-lg-screen {
    display: none;
}

/* menu closes with burger button */
.nav-links {
    clear: both;
    max-height: 0;
    transition: all 0.3s ease-out;
}

/* --- below is making checkbox into burger button --- */
.menu-icon {
    padding: 23px;
    position: relative;
    float: right;
    cursor: pointer;
}

/* middle burger line */
.burger-icon {
    background: var(--nav-color);
    display: block;
    height: 3px;
    width: 20px;
    position: relative;
    transition: background 0.3s ease-out;
}

/* bottom burger line */
.burger-icon:before {
    background: var(--nav-color);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease-out;
    top: 7px;
}

/* top burger line */
.burger-icon:after {
    background: var(--nav-color);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease-out;
    top: -7px;
}

/* removes actual checkbox */
.menu-btn {
    display: none;
}

/* makes burger button work */
.menu-btn:checked ~ .nav-links {
    max-height: 500px;
    transition: all 0.3s ease-out;
}

/* makes burger into a X when clicked */
.menu-btn:checked ~ .menu-icon .burger-icon {
    background: transparent;
}
.menu-btn:checked ~ .menu-icon .burger-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.menu-btn:checked ~ .menu-icon .burger-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/* ---------------------------------- */
/* style for larger screens (desktop) */
@media screen and (min-width: 1020px) {
    nav {
        display: flex;
        align-items: center;
    }
    /* class names for navigation menu */

    .nav-links {
        display: flex;
        position: absolute;
        right: 5px;
        justify-content: space-between;
        width: 40%;
        min-width: 650px;
    }

    .nav-links {
        overflow: visible;
    }

    .nav-links li {
        padding: 0px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .nav-links {
        clear: none;
        max-height: 50px;
    }

    .logout-btn-lg-screen {
        display: inline-block;
    }

    .menu-btn,
    .burger-icon,
    .logout-btn-sm-screen {
        display: none;
    }
}
