/* import other css files */
@import "./css/NavBar.css";
@import "./css/Theme.css";
@import "./css/Footer.css";
@import "./css/Home.css";

/* css settings for all views */
.views {
    border: 2px solid green;
    margin: 0px 45px 0px 45px;
    max-width: 1200px;
    margin: auto;
}

/* nav menu css for all screens */
nav {
    background-color: var(--nav-back-color);
    padding: 20px;
    box-shadow: 0 4px 2px -2px gray;
}

.logo-container {
    height: auto;
    width: auto;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
}

/* css for NavLink components */
.nav-link {
    list-style: none;
}

.nav-link {
    color: var(--nav-color);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.nav-link:hover {
    background-color: var(--nav-hover-color);
    color: var(--nav-hover-text-color);
    border-radius: 5px;
}
